{% extends "base.html" %}
{% load static %}



{% block 'cabecalho' %}
    <link rel="stylesheet" href="{% static 'destinos/css/destinos.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
{% endblock 'cabecalho' %}

{% block 'conteudo' %}
    <div class="container">
        <h1>Destinos Turísticos</h1>
        <form action="{% url 'destinos' %}" method="GET">
            <label for="pais">País:</label>
            <input class="form-control" type="text" name="pais" id="pais" value="{{ pais }}">
        
            <label for="cidade">Cidade:</label>
            <input  class="form-control" type="text" name="cidade" id="cidade" value="{{ cidade }}">
        
            <label for="nome">Nome:</label>
            <input class="form-control" type="text" name="nome" id="nome" value="{{ nome }}">
        
            <label for="ordenar_por_nota">Ordenar por nota:</label>
            <input  type="checkbox" name="ordenar_por_nota" id="ordenar_por_nota" {{ ordenar_por_nota }}>
        
            <button type="submit">Filtrar</button>
            <button type="submit" name="resetar">Resetar</button>
        </form>        
        <br>
        <div class="row">
            {% for destino in destinos %}
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{destino.url_foto}}" alt="{{ destino.nome }}">
                    <div class="card-body">
                        <h2 class="card-title">{{ destino.nome }}</h2>
                        <div class="card-text">
                            <p>{{ destino.descricao }}</p>
                        </div>
                        <br><strong>Nota media:</strong> 
                        <div class="rating-media">
                            {% for i in 'xxxxx' %}
                                <i class="fa fa-star rating-color{% if forloop.counter > destino.nota %}-o{% endif %}"></i>
                            {% endfor %}
                        </div>
                        <br>
                        <a href="{% url 'destino_detalhe' destino.id %}" class="btn btn-primary">Ver Mais</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock 'conteudo' %}