
.rating-media {
    display: inline-block;
}

.ratings i{
    
    color:#cecece;
    font-size:32px;
}

.rating-color{
    color:#fbc634 !important;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #337ab7;
}


.card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.card-header {
    background-color: #337ab7;
    color: #fff;
    padding: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}


.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}


.footer {
    background-color: #337ab7;
    color: #fff;
    padding: 10px;
    text-align: center;
}


.card-title {
    color: #337ab7;
}

.card-text {
    flex-grow: 1; /* Permite que a descrição ocupe o espaço disponível */
    max-height: 150px; /* Altura máxima da descrição */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Número máximo de linhas visíveis */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis
}

.btn-primary {
    background-color: #337ab7;
    border-color: #337ab7;
}

.btn-primary:hover {
    background-color: #286090;
    border-color: #286090;
}
