.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 6 / 5;
}

.div2 {
    grid-area: 1 / 5 / 6 / 9;
}

.div3 {
    grid-area: 1 / 5 / 2 / 9;
}

.card-comentario {
    width: 100% !important;
    height: auto !important;
}

.card-add-comentario {
    width: 100% !important;
}


.container {
    height: auto;
}

.rating-wrapper {
    align-self: center;
    border-radius: 5rem;
    display: inline-flex;
    direction: rtl !important;
    margin-left: auto;


    label {
        color: #E1E6F6;
        cursor: pointer;
        display: inline-flex;
        font-size: 3rem;
        padding: 1rem .6rem;
        transition: color 0.5s;
    }

    svg {
        -webkit-text-fill-color: transparent;
        -webkit-filter: drop-shadow (4px 1px 6px rgba(198, 206, 237, 1));
        filter: drop-shadow(5px 1px 3px rgba(198, 206, 237, 1));
    }

    input {
        height: 100%;
        width: 100%;
    }

    input {
        display: none;
    }

    label:hover,
    label:hover~label,
    input:checked~label {
        color: yellow;
    }

    label:hover,
    label:hover~label,
    input:checked~label {
        color: yellow;
    }
}

.ratings i{
    
    color:#cecece;
    font-size:32px;
}

.rating-color{
    color:#fbc634 !important;
}

.t{
    border: 2px solid red;
}