.btn-cadastro {
    padding: 10px;
    background-color: #58fcd5;
    border: none;
    border: 1px solid #58fcd5;
    font-size: 18px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
}