{% extends 'base.html' %}
{% load static %}

{% block 'cabecalho' %}

<link rel="stylesheet" href="{% static 'destinos/css/destinoDetalhado.css' %}" />
<link rel="stylesheet" href="{% static 'perfil/css/perfil.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
<script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>


{% endblock 'cabecalho' %}

{% block 'conteudo' %}


    <section style="background-color: #eee;">
        <div class="container py-5">
            

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                                {% for foto in fotos_perfil %}
                                    {% if perfil.profile.foto %}
                                        <div class="contenedor-imagen">
                                            <img src="{{ foto.foto.url }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;" >
                                        </div>
                                    {% else %}
                                        <img src="{% static 'perfil/img/perfilpadrao.jpg' %}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;" >
                                    {% endif %}
                                {% endfor %}
                    
                            <h5 class="my-3">@{{perfil.username}}</h5>
                            
                            {% if show_form %}  
                                <form method="POST" enctype="multipart/form-data" class="custom-form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="foto" class="custom-label">Selecione uma foto:</label>
                                        <input type="file" id="foto" name="foto" accept="image/*" class="custom-file-input">
                                    </div>
                                    <button type="submit" class="btn btn-primary custom-button">Adicionar</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Nome Completo</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{perfil.first_name}} {{perfil.last_name}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{perfil.email}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Celular</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{perfil.profile.telefone}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Endereço</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{perfil.profile.endereco.rua}}, {{perfil.profile.endereco.cidade}}, {{perfil.profile.endereco.estado}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    {% if comentarios %}
    <div class="container text-dark "><h4>Seus Comentarios:</h4></div>
    {% for comentario in comentarios %}
    <div class="container my-5 py-5 text-dark ">
        <div class="row d-flex justify-content-center ">
            <div class="col-md-11 col-lg-9 col-xl-7 card-comentario">
                <div class="d-flex flex-start mb-4">
                    <div class="card w-100">
                        <div class="card-body p-4">
                            <div class="">
                                {% for foto in fotos_perfil %}
                                    {% if comentario.usuario.profile.foto %}
                                        <div class="contenedor-imagen">
                                            <img src="{{ comentario.usuario.profile.foto.url }}" alt="avatar" class="rounded-circle img-fluid" style="width: 50px;" >
                                        </div>
                                    {% else %}
                                        <img src="{% static 'perfil/img/perfilpadrao.jpg' %}" alt="avatar" class="rounded-circle img-fluid" style="width: 50px;" >
                                    {% endif %}
                                {% endfor %}
                                <strong>Usuario: {{ comentario.usuario.username }}</strong>
                                <p class="small">
                                    <strong>Nota:
                                        {% if comentario.rating == 1%}
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        {% endif %}
                                        {% if comentario.rating == 2%}
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        {% endif %}
                                        {% if comentario.rating == 3%}
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        {% endif %}
                                        {% if comentario.rating == 4%}
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        {% endif %}
                                        {% if comentario.rating == 5%}
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        {% endif %}
                                    </strong>
                                </p>
                                <p>
                                    Comentario: <br>
                                    {{ comentario.texto }}
                                </p>
                                <p class="small">{{ comentario.data_criacao }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="container text-dark">
        <p>Este perfil ainda não realizou nenhum comentario</p>
    </div>
    {% endif %}

{% endblock 'conteudo' %}