{% extends 'base.html' %}
{% load static %}

{% block 'cabecalho' %}

<link rel="stylesheet" href="{% static 'destinos/css/destinoDetalhado.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
<script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
<style>
    .custom-form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    
    .custom-label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }
    
    .custom-file-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    
    .custom-button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .custom-button:hover {
        background-color: #0056b3;
    }
</style>

{% endblock 'cabecalho' %}

{% block 'conteudo' %}


    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">User</a></li>
                            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                                {% for foto in fotos_perfil %}
                                    {% if foto.foto.url %}
                                        <div class="contenedor-imagen">
                                            <img src="{{ foto.foto.url }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;" >
                                        </div>
                                    {% else %}
                                        <img src="{% static 'perfil/img/perfilpadrao.jpg' %}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;" >
                                    {% endif %}
                                {% endfor %}
                    
                            <h5 class="my-3">@{{perfil.username}}</h5>
                            <p class="text-muted mb-1">Full Stack Developer</p>
                            <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                            {% comment %} <div class="d-flex justify-content-center mb-2">
                                <button type="button" class="btn btn-primary">Follow</button>
                                <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                            </div> {% endcomment %}
                            <form method="POST" enctype="multipart/form-data" class="custom-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="foto" class="custom-label">Selecione uma foto:</label>
                                    <input type="file" id="foto" name="foto" accept="image/*" class="custom-file-input">
                                </div>
                                <button type="submit" class="btn btn-primary custom-button">Adicionar</button>
                            </form>
                        </div>
                    </div>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush rounded-3">
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                    <p class="mb-0"></p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                    <p class="mb-0"></p>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                    <p class="mb-0"></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Nome Completo</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{perfil.first_name}} {{perfil.last_name}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{perfil.email}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Celular</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{perfil.profile.telefone}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Endereço</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{perfil.profile.endereco.rua}}, {{perfil.profile.endereco.cidade}}, {{perfil.profile.endereco.estado}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% comment %} <div id="carouselFotosPerfil" class="carousel slide carousel-fade" data-ride="carousel">
                            <div class="carousel-inner">
                                {% if fotos_perfil %}
                                    {% for foto in fotos_perfil %}
                                        <p>{{perfil}}</p>
                                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                            <img src="{{ perfil.fotos.url }}" class="d-block w-100" alt="Foto de Perfil">
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>Nenhuma foto disponível para este perfil.</p>
                                {% endif %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselFotosPerfil" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselFotosPerfil" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div> {% endcomment %}
                        
                    </div>
                    {% comment %} <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                    
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </form> {% endcomment %}
                   {% comment %} <form method="POST" enctype="multipart/form-data" id="form-fotos" action="{% url 'perfil' perfil.username %}">
                        {% csrf_token %}
                        <input type="file" name="photos" accept="image/*" multiple>
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </form> {% endcomment %}
                </div>
            </div>
        </div>
    </section>


    {% if comentarios %}
    {% for comentario in comentarios %}
    <div class="container my-5 py-5 text-dark ">
        <div class="row d-flex justify-content-center ">
            <div class="col-md-11 col-lg-9 col-xl-7 card-comentario">
                <div class="d-flex flex-start mb-4">
                    <img class="rounded-circle shadow-1-strong me-3"
                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="65"
                        height="65" />
                    <div class="card w-100">
                        <div class="card-body p-4">
                            <div class="">
                                <strong>Usuario: {{ comentario.usuario.username }}</strong>
                                <p class="small"><strong>Nota:{{ comentario.nota }}</strong></p>
                                <p class="small">
                                    <strong>Nota:
                                        {% if comentario.rating == 1%}
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        {% endif %}
                                        {% if comentario.rating == 2%}
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        {% endif %}
                                        {% if comentario.rating == 3%}
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        {% endif %}
                                        {% if comentario.rating == 4%}
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        {% endif %}
                                        {% if comentario.rating == 5%}
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        {% endif %}
                                    </strong>
                                </p>
                                <p>
                                    Comentario: <br>
                                    {{ comentario.texto }}
                                </p>
                                <p class="small">{{ comentario.data_criacao }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>Este perfil ainda nao realizou nenhum comentario</p>
    {% endif %}

    <script>
        
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('form-fotos');
            const carouselInner = document.querySelector('.carousel-inner');
    
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                const formData = new FormData(form);
    
                fetch(form.action, {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    data.forEach(photo => {
                        const newItem = document.createElement('div');
                        newItem.classList.add('carousel-item');
                        if (carouselInner.children.length === 0) {
                            newItem.classList.add('active');
                        }
                        newItem.innerHTML = `<img src="${photo.url}" class="d-block w-100" alt="Photo">`;
                        carouselInner.appendChild(newItem);
                    });
                })
                .catch(error => console.error('Erro ao enviar fotos:', error));
            });
        });

                // Função para alternar para o slide anterior
        function previousSlide() {
            const activeSlide = document.querySelector('.carousel-item.active');
            const previousSlide = activeSlide.previousElementSibling;
        
            if (previousSlide) {
            activeSlide.classList.remove('active');
            previousSlide.classList.add('active');
        
            const indicator = document.querySelector(`.carousel-indicator[aria-label="${previousSlide.dataset.slideId}"]`);
            indicator.setAttribute('aria-current', 'true');
        
            const currentIndicator = document.querySelector('.carousel-indicator[aria-current="true"]');
            currentIndicator.setAttribute('aria-current', 'false');
            }
        }
        
        // Função para alternar para o próximo slide
        function nextSlide() {
            const activeSlide = document.querySelector('.carousel-item.active');
            const nextSlide = activeSlide.nextElementSibling;
        
            if (nextSlide) {
            activeSlide.classList.remove('active');
            nextSlide.classList.add('active');
        
            const indicator = document.querySelector(`.carousel-indicator[aria-label="${nextSlide.dataset.slideId}"]`);
            indicator.setAttribute('aria-current', 'true');
        
            const currentIndicator = document.querySelector('.carousel-indicator[aria-current="true"]');
            currentIndicator.setAttribute('aria-current', 'false');
            }
        }
        
        // Adicionar eventos de clique aos botões de navegação
        const prevButton = document.querySelector('.carousel-control-prev');
        prevButton.addEventListener('click', previousSlide);
        
        const nextButton = document.querySelector('.carousel-control-next');
        nextButton.addEventListener('click', nextSlide);
  
    </script>
    

{% endblock 'conteudo' %}