{% extends 'base.html' %}
{% load static %}

{% block 'cabecalho' %}

{% endblock 'cabecalho' %}

{% block 'conteudo' %}

    <div class="container mt-5">
        <h2 class="text-center mb-4">Nossa Equipe de Desenvolvimento</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="caminho/para/imagem1.jpg" class="card-img-top" alt="Nome do Membro 1">
                    <div class="card-body">
                        <h5 class="card-title text-center">Nome do Membro 1</h5>
                        <p class="card-text text-center">Cargo do Membro 1</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="caminho/para/imagem2.jpg" class="card-img-top" alt="Nome do Membro 2">
                    <div class="card-body">
                        <h5 class="card-title text-center">Nome do Membro 2</h5>
                        <p class="card-text text-center">Cargo do Membro 2</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="caminho/para/imagem3.jpg" class="card-img-top" alt="Nome do Membro 3">
                    <div class="card-body">
                        <h5 class="card-title text-center">Nome do Membro 3</h5>
                        <p class="card-text text-center">Cargo do Membro 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock 'conteudo' %}